
body {
    
    background-image: url(back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
    }
.logo {

    background-color:darkslategray; 
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    border-start-end-radius: 10px;
    font-size: large;
    font-weight: 200;
    padding: 20px;
    box-shadow: 0 0 20px 10px lightblue;
    color:black;
    
  }
  .Header{
    width:100%;
    position: relative;
  }

  .heading {
     
    padding: 10px;
    margin-top: 100px;
    text-align: center;
    font-size: xxx-large;
   
    box-shadow: 0 0 20px 10px Dark Gray (#333333);
    color:black;
    
  }

  .main {
         text-align: center;
         font-size: larger;    
         display: block; 
         font-family: 'Times New Roman', Times, serif;
         
  }

  .animation2 {
    overflow: hidden;
    border-radius: 100%;
    width: 300px; 
    height: 300px;
    animation: spin 50s linear infinite; 
    justify-items: center;
    justify-content: center;
    position: absolute;
    right:305px;
    top:140px;
    
   

  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .home{
        
        color: black;
        font-size: x-large;
  }

  .about{
        color: black;
        font-size: x-large;

  }

  .contact {
         
    color: black;
    font-size: x-large;

  }

  .profile {
    color: black;
    font-size: x-large;
  
  }
  .home:hover {

    transform: scale(1.30);                 
    touch-action: cross-slide-x;
    
  }
  
  .about:hover{
    transform:scale(1.30) ;
    touch-action: cross-slide-x;
    
  }

  .contact:hover{
    
    transform:scale(1.30) ;
    touch-action: cross-slide-x
  }

  .profile:hover{
    transform: scale(1.30);
    touch-action: cross-slide-x
  }
 .main2{
   
 }
  